@import '@fontsource/fira-mono';

:root {
	--color-overlay-0: color-mix(in srgb, var(--color-text-0) 5%, transparent);
	--color-overlay-1: color-mix(in srgb, var(--color-text-0) 10%, transparent);
	--color-overlay-2: color-mix(in srgb, var(--color-text-0) 15%, transparent);
	--color-overlay-3: color-mix(in srgb, var(--color-text-0) 20%, transparent);
	--color-overlay-4: color-mix(in srgb, var(--color-text-0) 25%, transparent);
	--color-overlay-5: color-mix(in srgb, var(--color-text-0) 30%, transparent);
	--color-overlay-6: color-mix(in srgb, var(--color-text-0) 35%, transparent);
	--color-overlay-7: color-mix(in srgb, var(--color-text-0) 40%, transparent);

	--pad: 1.25rem;
	--gap: 0.75rem;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	margin: 0;
	background-attachment: fixed;
	/* background-color: var(--color-bg-1); */
	background-size: 100vw 100vh;
	color: var(--color-text-0);
	background-color: var(--color-bg-0);
}

p {
	line-height: 1.5;
	margin: 0;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.3rem;
} */

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	color: var(--color-text-1);
}

.colored-button {
	outline: none;
	border: none;
	background-color: var(--color-theme-1);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	color: white;
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.material-symbols-rounded {
	user-select: none !important;
}

button.reset {
	border: none;
	/* background: initial; */
	color: inherit;
	font-weight: inherit;

	cursor: pointer;
	margin: 0;
	padding: 0;
}

.no-bg {
	background-color: transparent;
}
.icon-w-2 {
	width: 1.5rem;
}
a.reset {
	text-decoration: none;
	color: inherit;
	position: inherit;
	text-align: inherit;
}

.flex {
	display: flex;
}

.spacer {
	flex: 1;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.br-1 {
	border-radius: 0.25rem;
}

.br-2 {
	border-radius: 0.3rem;
}

.br-3 {
	border-radius: 0.75rem;
}

.br-4 {
	border-radius: 1rem;
}

.frontground {
	background-color: var(--color-bg-1);
}

.fixed {
	position: fixed;
}

button.hover:hover {
	background-color: color-mix(in srgb, var(--color-text-0) 5%, transparent);
	/* background-color: blue; */
}

button.hover {
	transition: background-color 100ms;
}
