.tiptap {
	p {
		margin: 1rem 0;
		// line-height: 1.5em;
		// display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin: 0.5em 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-block-start: 1.25em;
		margin-block-end: 0.5em;
	}

	ul {
		list-style-type: disc;
		padding-inline-start: 1.5rem;
	}

	ol {
		list-style-type: decimal;
		padding: revert;
		margin: revert;
	}
	.title {
		font-size: 3rem;
		font-weight: 700;
	}

	pre {
		background: #0d0d0d;
		color: #fff;
		font-family: 'JetBrainsMono', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 0.8rem;
		}

		.hljs-comment,
		.hljs-quote {
			color: #616161;
		}

		.hljs-variable,
		.hljs-template-variable,
		.hljs-attribute,
		.hljs-tag,
		.hljs-name,
		.hljs-regexp,
		.hljs-link,
		.hljs-name,
		.hljs-selector-id,
		.hljs-selector-class {
			color: #f98181;
		}

		.hljs-number,
		.hljs-meta,
		.hljs-built_in,
		.hljs-builtin-name,
		.hljs-literal,
		.hljs-type,
		.hljs-params {
			color: #fbbc88;
		}

		.hljs-string,
		.hljs-symbol,
		.hljs-bullet {
			color: #b9f18d;
		}

		.hljs-title,
		.hljs-section {
			color: #faf594;
		}

		.hljs-keyword,
		.hljs-selector-tag {
			color: #70cff8;
		}

		.hljs-emphasis {
			font-style: italic;
		}

		.hljs-strong {
			font-weight: 700;
		}
	}

	blockquote {
		padding-left: 1rem;
		border-left: 3px solid rgba(#0d0d0d, 0.1);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#0d0d0d, 0.1);
		margin: 2rem 0;
	}

	ul[data-type='taskList'] {
		list-style: none;
		padding: 0;

		p {
			margin: 0;
		}

		li {
			display: flex;

			> label {
				flex: 0 0 auto;
				margin-right: 0.5rem;
				user-select: none;
			}

			> div {
				flex: 1 1 auto;
			}

			ul li,
			ol li {
				display: list-item;
			}

			ul[data-type='taskList'] > li {
				display: flex;
			}
		}
	}

	mark {
		padding: 0.2rem 0.25rem;
		border-radius: 0.3rem;
		background: #ffef0f;
	}

	img {
		max-width: 100%;
		height: auto;

		&.ProseMirror-selectednode {
			outline: 3px solid #b4d5ff;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	scroll-margin-top: 5rem;
	font-weight: 600;
	margin: 0;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

strong {
	font-weight: 600;
}
