.tiptap {
	p {
		margin: 1rem 0;
		line-height: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	scroll-margin-top: 5rem;
	font-weight: 600;
	margin-block-start: 1.25em;
	margin-block-end: 0.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
