@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: calc(0.5rem - 0.5px);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
